@use "/src/sass/variables" as *;

.rooms-page {
  display: flex;
  flex-direction: column;
  .section:not(:first-child) {
    margin-top: 20px;
  }
}

h1 {
  font-size: 1.25rem;
  font-weight: bold;
}

.section {
  background-color: $white;
  border-radius: 10px;
  padding: 25px;
}

.btn-primary {
  height: 40px;
}

.section-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.section-table {
  .action-buttons {
    white-space: nowrap;
  }

  .btn {
    height: 30px;
    line-height: 1.25;
    margin-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  thead {
    tr {
      white-space: nowrap;
      border-bottom: 2px solid $dark;
    }
  }

  tr {
    :last-child {
      text-align: right;
    }
  }

  th,
  td {
    background-color: inherit;
  }

  tbody {
    tr {
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    td {
      white-space: pre;
      vertical-align: middle;
    }
  }
}
